
/* The actual timeline (the vertical ruler) */
.timelines {
  border-radius: 1rem;
  background: white;
  margin: 0 auto;
  position: relative;
  padding: 1rem;
  list-style: none;
}

.timeline-event::before {
  content: '';
  display: block;
  position: absolute;
  width: 0.2rem;
  background-color: gray;
  top: 1rem;
  bottom: 1rem;
  left: 50%;
}

.circle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: black;
  z-index: 1; /* Ensure circle appears above line */
}

.profile-section {
  text-align: center;
  margin: 1rem;
}

.round_corner_image {
  border-radius: 0.5rem;
}

#user-card {
  max-width: 64rem;
  padding: 0.75rem;
}

#content {
  position: relative;
  overflow-x: hidden;
}

#content::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("assets/laptop-desktop-background.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  z-index: -1;
}

#main-content {
  z-index: 1;
}

#profile {
  background-color: rgb(225, 225, 225);
  margin: 0rem;
  opacity: 98%;
}


/* .blurred-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("assets/laptop-desktop-background.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -1;
}

#main-content {
    z-index: 1;
} */


/* Responsive scrolling speed adjustments */
@media (min-width: 768px) {

  /* Target laptop and larger screens */
  #content::before {
    background-attachment: scroll;
    /* Enable scrolling */
    background-attachment: fixed;
    /* Slow down scrolling */
  }

  .timeline-event {
    flex-direction: row !important ;
  }

  .timeline-date{
    text-align: end;
  }

}

@media (max-width: 767px) {

  /* Target mobile screens */
  #content::before {
    background-attachment: scroll;
    /* Enable regular scrolling */
  }

  .timeline-event {
    flex-direction: column !important;
    align-items: center;
  }

  .timeline-event::before {
    display:none;
  }

  .circle{
    display: none;
  }

}
